div.Layout {
    min-height: 100vh;
}

div.Layout > section {
    background: white;
}

section.Layout__Menu > img {
    border-radius: 30px;
}

section.Layout__Body {
    grid-area: body;
}

section.Layout__Body > div {
    margin: 20px 20px auto 20px;
}
